/* General Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container */
.container {
    width: 750px;
    height: 724px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    overflow-y: auto;
}

/* Title */
.title-container {
    margin-bottom: 20px;
}

/* Stats Container */
#statsContainer {
    margin-top: 20px;
}

/* Campaign Name */
.campaign-name {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #ed204c;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stat Items */
.stat-item-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.rectangle {
    background-color: #ed204c;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

    .rectangle span {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 5px;
    }

/* Chart Container */
.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#validationChart {
    width: 200px; /* Adjusted chart width */
    height: 200px; /* Adjusted chart height */
    margin: 20px auto; /* Centered chart */
}

.chart-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .chart-legend div {
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

        .chart-legend div span {
            margin-left: 5px;
        }

/* Country Stats */
.country-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    background-color: #e9f5ee;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.country-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

    .country-item img {
        width: 30px;
        height: 20px;
        margin-bottom: 5px;
    }

    .country-item .country-code {
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    .country-item .bold-number {
        font-weight: bold;
        font-size: 1em;
    }

/* Buttons */
.back-button, .btn {
    padding: 10px 20px;
    border: none;
    background-color: #ed204c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 10px;
}

    .back-button:hover, .btn:hover {
        background-color: #c00c3c;
    }

/* Loading Indicator */
#loadingIndicator {
    margin: 10px 0;
}

/* Notification */
.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
}

.show {
    display: block;
}
